.btn {
	display: flex;
	padding: 8px 12px;
	align-items: center;
	gap: 8px;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	color: var(--main-mute-color);
	outline: none;
	border: none;
	transition: background-color 150ms ease-out, color 150ms ease-out;
	border-radius: 50px;
	background-color: var(--main-whiteBG-color);

	&:hover {
		background-color: var(--main-darkBG-color);
		color: var(--main-white-color);

		.color {
			fill: var(--main-white-color);
		}
	}
}

.btn-search {
	display: flex;
	padding: 8px 12px;
	align-items: center;
	gap: 8px;
	transition: background-color 150ms ease-out, color 150ms ease-out;
	border-radius: 50px;
	border: 1px solid var(--main-darkBG-color);
	background-color: var(--main-white-color);
	
	&:hover {
		background-color: var(--main-darkBG-color);
		border: 1px solid var(--main-white-color);
		color: var(--main-white-color);

		.color-black {
			fill: var(--main-white-color);
		}
	}
}

.padding-12-24 {
	padding: 12px 24px;
}

.padding-8-12 {
	padding: 8px 12px
}

.font-size {
	font-size: 14px;
}

.color-grey {
	transition: fill 150ms ease-out;
	fill: var(--main-mute-color);
}

.color-black {
	transition: fill 150ms ease-out;
	fill: var(--main-heading-color);
}
