.btn {
	display: flex;
	padding: 8px 12px;
	align-items: center;
	gap: 8px;

	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	color: var(--main-mute-color);

	outline: none;
	border: none;

	border-radius: 50px;
	background: var(--main-whiteBG-color);
}


.btn-search {
		display: flex;
		padding: 8px 12px;
		align-items: center;
		gap: 8px;
	
		transition:
			background-color 0.5s ease-out,
			fill 0.5s ease-out,
			color 0.5s ease-out;
	
		border-radius: 50px;
		border: 1px solid var(--main-border-color);
	
		&:hover {
			background-color: var(--main-darkBG-color);
			color: var(--main-white-color);
			fill: var(--main-white-color);
		}
	
}

.padding {
	padding: 12px 24px;
}