.title-wrapper__results-title {
	font-size: 31px;
	font-style: normal;
	font-weight: 600;
	line-height: calc(40.3 / 31);

	color: var(--main-heading-color);
}

.title-wrapper__searchquery {
	font-size: 31px;
	font-style: normal;
	font-weight: 700;
	line-height: calc(40.3 / 31);

	color: var(--main-heading-color);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;

	&:before,
	&:after {
		content: '\201C';
	}

	&:after {
		content: '\201D';
	}
}

.quoted-text {
	quotes: '\201C' '\201D';
}

.search-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.title-wrapper__grid-selection {
	display: flex;
	gap: 24px;
	align-items: center;
}

.title-wrapper__layer-switch {
	cursor: pointer;
	transition: opacity 0.5s ease;
	opacity: 70%;

	&:hover {
		opacity: 100%;
	}
}

.not-active {
	opacity: 50%;
}

.switchlayer-button__reset-style {
	outline: none;
	border: none;
	background: none;
}
