.hero-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.hero-text__container {
	display: flex;
	gap: 8px;
	flex-direction: column;
}

.hero-searchbar__wrapper {
	display: flex;
	width: 100%;
	gap: 8px;
}

.hero-container__field {
	display: flex;
	border: none;
	outline: none;
	width: 100%;
}

.hero-search {
	display: flex;
	align-items: center;
	min-width: 457px;
	height: auto;
	position: relative;

	border: 1px solid var(--main-border-color);
	border-radius: 4px;
	padding: 4px 8px;

	&:before {
		content: '';
		background-image: url('../../assets/svg/search-white.svg');
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}
}

.hero-container__title {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: calc(23.4 / 18);

	text-align: center;

	color: var(--main-heading-color);
}

.hero-container__subtext {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: calc(24 / 16);

	text-align: center;

	color: var(--main-text-color);
}

.button-primary {
	display: flex;
	height: auto;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 4px;

	color: var(--main-white-color);
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;

	border-radius: 4px;
	border: 1px solid var(--main-border-color);
	background: var(--main-darkBG-color);
}
