.bulk-sample {

  &-container {
    display: flex;
    height: 530px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

&__wrapper {
  display: flex;
width: 390px;
height: 366px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
border-radius: 8px;
background: #F1F7FD;
}

&__gap {
  display: flex;
    gap: 16px;
    flex-direction: column;
}

&__list {
      display: flex;
    gap: 8px;
    flex-direction: column;
}

&__item {
  display: flex;
padding: 8px 12px;
align-items: center;
gap: 8px;
align-self: stretch;
justify-content: space-between;
  border-radius: 50px;
border: 1px solid var(--main-border-color);
background-color: var(--main-white-color);
cursor: pointer;

&:hover {
  .bulk-sample__subtext {
    color: var(--main-heading-color);
  }
  .bulk-sample__icon {
    fill: var(--main-heading-color);
  }
}
}

&__subtext {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(18.2/14);
  transition: color 150ms ease-out;
  color: var(--main-text-color);
}

&__icon {
  transition: fill 150ms ease-out;
  fill: var(--main-text-color);
}

&__content-holder {
  display: flex;
  gap: 8px;
}

  }
