.search-list__item {
	display: flex;
	width: 285px;
	padding: 16px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex-shrink: 0;

	transition: box-shadow 0.4s ease-out;
	border-radius: 20px;
	border: 1px solid var(--main-white-color);
	background: var(--main-accent1-color);

	&:hover {
		box-shadow: 10px 10px 30px 0px rgba(13, 11, 30, 0.1);
	}
}

.search-list__item-subtitle-wrapper {
	display: flex;
	padding: 8px 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 24px;
	background: var(--main-white-color);
}

.search-list__item-subtitle {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: calc(15.6 / 12);

	color: var(--main-heading-color);
}

.search-list__item-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.search-content__wrapper {
	display: flex;
	gap: 20px;
}

.search-item__icons {
	display: flex;
	gap: 8px;
}

// .search-item__icons-wrapper {
// 	display: flex;
// 	width: 32px;
// 	height: 32px;
// 	padding: 8px;
// 	cursor: pointer;
// 	justify-content: center;
// 	align-items: center;

// 	border-radius: 1000px;
// 	background: var(--main-white-color);
// }

/**
  |============================
  | Body
  |============================
*/

.search-list__item-body {
	//
}

.search-item__name-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;

	margin-bottom: 8px;
}

.search-item__name-subtext {
	font-weight: 400;
}

.search-item__name-title {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: calc(20.8 / 16);

	color: var(--main-heading-color);
}

.search-item__tags-list {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 8px;
	align-self: stretch;
	flex-wrap: wrap;
}

.search-item__tags-item {
	display: flex;
	padding: 4px 8px;
	align-items: center;

	border-radius: 50px;
	border: 1px solid var(--main-border-color);
}

.search-item__tags-item__more {
	background: var(--main-accent2-color);
}

.search-item__tag {
	//
}

/**
  |============================
  | Footer
  |============================
*/

.search-list__item-button {
	display: flex;
	padding: 8px 12px;
	align-items: center;
	gap: 8px;

	border-radius: 50px;

	transition:
		color 0.3s ease-out,
		background-color 0.5s ease-out,
		fill 0.5s ease-out;

	color: var(--main-heading-color);
	border: 1px solid var(--main-darkBG-color);

	&:hover {
		color: var(--main-white-color);
		border: 1px solid var(--main-heading-color);
		background: var(--main-darkBG-color);

		.search-item__icons {
			fill: var(--main-white-color);
		}
	}
}

.search-item__icons-wrapper {
	display: flex;
	width: 32px;
	height: 32px;
	padding: 8px;
	justify-content: center;
	align-items: center;

	border-radius: 1000px;
	background: var(--main-white-color);

	transition:
		color 0.5s ease-out,
		fill 0.5s ease-out;

	&:hover {
		background-color: var(--main-heading-color);

		.search-item__icon {
			fill: var(--main-white-color);
		}
	}
}

.search-item__icons-wrapper__reversed {
	display: flex;
	width: 32px;
	height: 32px;
	padding: 8px;
	justify-content: center;
	align-items: center;

	border-radius: 1000px;
	background: var(--main-heading-color);
	fill: var(--main-white-color);


	transition:
		color 0.5s ease-out,
		fill 0.5s ease-out;

	&:hover {
		background-color: var(--main-white-color);

		.search-item__icon {
			fill: var(--main-heading-color);
		}
	}
}


.search-list__item-header {
	//
}

.search-item__icons {
	//
}

/**
  |============================
  | User info
  |============================
*/

.search-item__user-info__wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;

	margin-top: 16px;
	margin-bottom: 16px;
}

.search-item__flex {
	display: flex;
	gap: 8px;
	align-items: center;
}

/**
	|============================
	| Grid
	|============================
*/

.main-wrapper {
	display: flex;
	width: 896px;
	padding: 16px;

	flex-direction: column;
	align-items: flex-start;
	gap: 8px;

	transition: box-shadow 0.5s ease-out;
	border-radius: 20px;
	border: 1px solid var(--main-white-color);
	background: var(--main-accent1-color);

	&:hover {
		box-shadow: 10px 10px 30px 0px rgba(13, 11, 30, 0.1);
	}
}

.search-list__grid-container {
	display: flex;
	align-items: center;
}

.search-list__item-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;

	width: 70%; // 12 - 5 | 1/5
}

.no-margin {
	margin: 0;
}

.button-width {
	display: flex;
	width: 7.5%;
}
