.title-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 24px;

	.no-wrap {
		justify-content: initial;
	}

	.place-to__end {
		justify-content: end;
	}
}

.push-content {
	margin-bottom: 32px;
}

.no-flex {
	display: block;
	margin: 0 auto;
}

.hero-wrapper {
	display: flex;
	gap: 50px;
	justify-content: space-between;
}

.widgets-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
