.bulk-loader {
  display: flex;
  width: 100%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
     cursor: pointer;
    border: none;
    border-radius: 8px;
background-color: var(--main-whiteBG-color);

    &__content-wrapper {
display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    }

    &__icon {
     fill: var(--main-text-color);
    }

    &__subtext {
color: var(--main-text-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: calc(18.2/14);
    }
}