/**
	|============================
	| Table
	|============================
*/

.table-date {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: calc(23.4/18);

	color: var(--main-heading-color);
}


.table-base {
	border-collapse: collapse;
	width: 100%;

	th,
	td {
		padding: 8px 0px;
		text-align: left;
	}

	td {
		cursor: pointer;
	}

.table-body > tr:nth-child(odd) {
	border-bottom: 1px solid var(--main-border-color);
	background: var(--main-whiteBG-color);
}

	tr:nth-child(even) {
		border-bottom: 1px solid var(--main-border-color);
	}

	th:nth-child(5) {
		text-align: center;
	}
}

.table-link__item {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: flex-end;
}

.table-subtext__link {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: calc(15.6 / 12);

	color: var(--main-text-color);
	
	&:hover {
		color: var(--main-heading-color);
		text-decoration-line: underline;
	}
}

.table-flex {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.table-subtext {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: calc(21 / 14);

	color: var(--main-text-color);

	&:hover {
		color: var(--main-heading-color);
	text-decoration-line: underline;
	}
}

.link-pointer {
	cursor: pointer;
}